body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeFail {
  0% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes fadeSuccess {
  0% {
    background-color: green;
  }
  100% {
    background-color: yellow;
  }
}

.fade-fail {
  animation: fadeFail 1s ease-in-out forwards;
}

.fade-success {
  animation: fadeSuccess 1s ease-in-out forwards;
}

@media only screen and (max-width: 600px) {
  #app {
    flex-direction: column;
  }
  #mobile-title {
    display: inherit;
  }
  #menu {
    display: none;
  }
  #breathing-room {
    display: none;
  }
  #play-card {
    width: 90%;
  }
}

@media only screen and (max-height: 500px) {
  #play-card {
    height: 80%;
  }
}